header{
	background-color:red;
}

div{
	border: 1px solid black;
}

.div1{
	background-color:red;
}
.div2{
	background-color:green;	
}
.div3{
	background-color:orange;
}
.div4{
	background-color:blue;
}
.div5{
	background-color:yellow;
}

div.div6{
	background-color:black;
}

#estilo{
	background-color:pink;	
}

h1, button{
	color:white !important;
}