*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#0e3959 0%,#0e3959 50%,#03a9f5 50%,#03a9f5 100%);
}

.login
{
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    z-index: 1;
}

.login .card
{
    position: relative;
    width: 450px;
    height: 500px;
    /*margin: 30px;*/
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(202, 202, 202, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.login .card .Contenido
{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.login .card .Contenido h2
{
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff578b;
    display: inline-block;
    letter-spacing: 1px;
}

.login .card .Contenido .inputBx
{
    margin-bottom: 20px;
}
.login .card .Contenido .inputBx span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;

}

.login .card .Contenido .inputBx input
{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #fff;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border-radius: 30px;
}

.login .card .Contenido .inputBx .btnlogueo
{
    background: #ff578b;
    color: #fff;
    outline: none;
    border: none;
    padding-top: 10px;
    border-radius: 15px;
    height: 50px;
    font-weight: 500;
    cursor: pointer;
}

.login .card .Contenido .inputBx .btnlogueo:hover
{
    background:#f53677;
}

.login .card .Contenido .remember
{
    margin-bottom: 10px;
    color: #fff;
    font-weight: 450;
    font-size: 15px;
}

.login .card .Contenido .inputBx p
{
    color: #bec4c7;
}

.login .card .Contenido .inputBx p a
{
    color: #f53677;
}



.logo-img{
    height: 80px;
    position:absolute;
    margin-left:50px;
    margin-top: 37px;
}

/*Boton de google */
div .sci
{
    margin-top: 40px;
    display: absolute;
    
}
div .sci li
{
    list-style: none;
    margin-right: 15px;
}

div .sci li a
{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

div .sci li a:hover
{
    color: #ff578b;
}




/*-----   Responsive design   -----*/

@media (max-width: 800px) {
   .logo-img{
    margin-left: 30px;
    height: 50px;
   } 
}

@media (max-width: 300px) {
    .logo-img{
     display: none;
    } 
 }