

.html{
    margin: 0;
    width: 100%;
    height: 100%;
}

.preloader{
    margin-top: 27%;
    margin-left: 50%;
    align-items: center;
}

body{
    display: grid;
    height: 100%;
    
}

.header{
    z-index: 2;
    position: fixed;
    width: 100%;
    min-width: max-content;
    -webkit-box-shadow: 0px 10px 31px -10px #000000; 
box-shadow: 0px 10px 31px -10px #000000;
}

.nav-link{
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
}

.logo-img{
    transition: 0.9s;
}
.logo-img:hover{
    transform: scale(1.05);
}




/*----------body-----------*/


/*----------body>contenido--------*/



/*--------- FIN body>contenido*/
.contenido{
    z-index: 0;
    display: grid;
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.segundo-apartado{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    height: 600px;
    /*background-color: #0df053;*/

    grid-template-areas: 
    "f-part"
    "s-part";

    grid-template: "f-part    s-part" 600px/
                    50%         50%;
}
.f-part{
    padding-top: 25px;
    grid-area: f-part;
    /*background-color: #535353;*/
}
.s-part{
    padding-top: 25px;
    grid-area: s-part;
   /*background-color: aquamarine;*/
}

/*--------- FIN body----------------*/






/*-----------footer---------*/
.izq{
    grid-area: izq;
    text-align: center;
    padding-top: 25px;
    /*
    border-right-width: 1px;
    border-right-style:solid;
    border-color:rgba(209, 208, 208, 0.699);*/
    color: #535353;

}
.der{
    grid-area: der;
    padding-top: 25px;
    text-align: center;
    color: #535353;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-areas: 
    "izq"
    "der";

    grid-template: "izq   der"  200px/
                    50%   50%;
}


.btn-wsp{
    position: fixed;
    line-height: 40px;
    bottom: 52px;
    /*right: 52px;*/
    left: 50px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 2px 10px rgb(0,0,0,0.3);
    z-index: 100;
    transition: 0.9s;
}
.btn-wsp:hover{
    text-decoration: none;
    color:#0df053;
    background: #fff;
}

.Pedidos{
    left: 3.5%;
    top: 75%;
    border-radius: 40px;
    position: fixed;
    z-index: 3;
    transition: 0.9s;
    background-color: #fff;
    border: 5px;
    /*
    -webkit-box-shadow: 0px 0px 13px 1px #0002DB; 
    box-shadow: 0px 0px 13px 1px #0002DB;*/
}

.Pedidos:hover{
    -webkit-box-shadow: 0px 0px 13px 1px #ffffff; 
    box-shadow: 0px 0px 13px 1px #ffffff;
}

.calaverita{
    position:fixed;
    z-index: 2;
    width: 550px;
    height: 260px;
    background-color:#000000;
    left:30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Responsive design */

/* Teléfonos y dispositivos pequeños (Bootstrap dimensions) : https://getbootstrap.com/docs/4.1/layout/overview/ */
@media (max-width: 1020px){
    
    .btn-wsp{
        left: 30px;
    }
    .Pedidos{
        left: 30px;
        top: 85%;
    }

    .Interiorinstalaciones{
        width: 450px;
        height: 220px;
    }

    .GMaps{
        width: 200px;
        height: 120px;
    }

    .s-part{
        margin-top: 35px;
    }

    .segundo-apartado{
        grid-template: "f-part"  250px
                        "s-part" 250px/
                        100%        
    }

    .calaverita{
       width: 350px;
    }
    
    .equis{
        left:10%;
    }

    .textoInt{
        font-size:20px;
    }
}


@media (max-width: 576px) {
    .texto-inicio{
        font-size: 25px;
    }
    .logo_lux{
        width: 100px;
        height: 60px;
    }
    .der{
        font-size: 14px;
    }
    
    .btn-wsp{
        left: 30px;
    }

    .Pedidos{
        left: 30px;
    }

    
}





/* Fin responsive design */